<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comments</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            max-width: 400px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        textarea {
            max-width: 100%;
        }
        form label, input[type="submit"] {
            margin-top: 12px;
        }
        button {
            padding: 5px 10px;
            transition: 0.2s;
            cursor: pointer;
            border: none;
            color: white;
            background-color: rgb(125, 125, 125);
        }
        button:hover {
            background-color: rgb(90, 90, 90);
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/comments/<%= comment.id %>"><button>Kembali</button></a>
        <h1>Form Edit a Comments</h1>
        <form action="/comments/<%= comment.id %>?_method=PATCH" method="post">
            <label for="comment">Comment</label>
            <textarea name="comment" cols="30" rows="5"><%= comment.comment %></textarea>
            <input type="submit" value="Kirim">
        </form>
    </div>
</body>
</html>